[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "vfinputs"]
	path = vfinputs
	url = https://github.com/rhenkin/vfinputs
[submodule "visxhclust"]
	path = visxhclust
	url = https://github.com/rhenkin/visxhclust
